<div class="custom-control custom-checkbox">
  <input
    [checked]="checked"
    (change)="onChange($event)"
    type="checkbox" 
    class="custom-control-input"
    id="{{ controlID }}"
    [name]="name">
  <!-- <svg viewBox="0 0 32.02 29.26" width="90"  xmlns="http://www.w3.org/2000/svg">
    <g fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M28.35 14.63v10.56a3.16 3.16 0 0 1-3.16 3.16H4.32a3.41 3.41 0 0 1-3.41-3.41V4.32A3.41 3.41 0 0 1 4.32.91h16.57"/>
    </g>
  </svg>
  <svg viewBox="0 0 32.02 29.26" width="90"  xmlns="http://www.w3.org/2000/svg">
    <g fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
      <path d="M28.35 0v25.1a3.16 3.16 0 0 1-3.16 3.16H4.32a3.41 3.41 0 0 1-3.41-3.41V4.32A3.41 3.41 0 0 1 4.32.91h24"/>
    </g>
  </svg> -->
  <label class="custom-control-label" for="{{ controlID }}">{{ name }}</label>
</div>