<ng-container *ngIf="type === 'separated'">
  <div class="card card--separated active">
    <div class="card-img-wrapper">
      <img class="card-img" src="http://via.placeholder.com/350x150" alt="Card image cap">
      <div class="card-category">
        kategoria
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title that is suer duper long</h5>
    </div>
    <div class="card-footer">
      <p class="article-data">
        <span class="article-data__author">
          Name & Surname
        </span>
        <span class="article-data__date">
          <br>01.01.2019
        </span>
      </p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'picture'">
  <div class="card card--picture text-white">
  <img class="card-img" src="http://via.placeholder.com/380x380" heigth="380" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">
        <img src="none" alt="">
      </h5>
    </div>
  </div>
</ng-container>
